:root {
	/* color pallete */
	--pallete1: rgba(19, 115, 242, 1);
	--pallete2: rgba(33, 145, 242, 1);
	--pallete3: rgba(38, 164, 242, 1);
	--pallete4: rgba(242, 231, 75, 1);
	--pallete5: rgba(220, 225, 242, 1);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: var(--pallete5);
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

.wave{
	position: absolute;
	z-index: -92;
	height: 50vh;
	width: 100vw;
	background: var(--pallete1);
}

.nav-pills .nav-link.active {
	background-color: rgba(19, 115, 242, 0) !important;
}
#pills-login-tab,
#pills-daftar-tab {
	position: relative;
	color: var(--pallete2)!important;	
}

.aktif{
transition: 1s;
}
.aktif::after{
	content: '';
	width: 71px;
	height: 4px;
	bottom: -1px;
	left: 0;
	z-index: 1;
	border-radius: 3px;
	background-color: var(--pallete4);
	position: absolute;
	transition: 1s;
	transform-style: preserve-3d;
}

.input--custom {
	border-top: 0;
	border-right: 0;
	border-bottom: 3px;
	border-color: var(--pallete3);
	padding: 1%;
	width: 60%;
	transition: .3s;
}

.input--custom:focus {
	border-left: 0;
	width:80%;
	outline: none;
	box-shadow: 0 2px var(--pallete3);
	transition: .3s;
}

label{
	text-align: left;
}

.btn:hover{
	background-color: var(--pallete3);
}


/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}
